
<!-- Left column -->
<div class="left-column armory-wrapper">

    <!-- The Select Form -->
    <form>
        <mat-form-field>
            <mat-select placeholder="Select a character" [(ngModel)]="selectedCharacter" name="food" (selectionChange)="valueChanged($event)">
            <mat-option *ngFor="let char of characters" [value]="char.name">
                {{ char.name }}
            </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <!-- The player name -->
    <p *ngIf="selectedCharacter">Player name: {{ selectedCharacter }}</p>

    <!-- Canvas -->
    <app-canvas [armorySubject]="armorySubject"></app-canvas><br/><br/>

    <!-- Show Character Information -->
    <ng-container *ngIf="selectedCharacter">
        <!-- Stats -->
        <b>Stats:</b><br/><br/>
        <p *ngFor="let item of getStats() | keyvalue">
            {{item.value.name}}: {{item.value.value}} 
        </p><br/>

        <!-- Skills -->
        <b>Skills:</b><br/><br/>
        <p *ngFor="let item of getSkills() | keyvalue">
            {{item.value.name}}: 
            <ng-container *ngIf="!item.value.value.$numberDecimal; else parseDouble">
                {{item.value.value}}
            </ng-container>
            <ng-template #parseDouble>
                {{item.value.value.$numberDecimal}}
            </ng-template>
        </p>
    </ng-container>
</div>