<!-- Main menu -->
<nav class="main-navigation clearfloats">
    <div class="left-nav-column">
      <ul>
        <!-- Mobile (expand menu) button -->
        <li class="mobile-button">
          <i class="fa fa-bars"></i>
        </li>
  
        <!-- Home button -->
        <li>
          <a routerLink="/dashboard" class="menu-button">
            <img src="/src/assets/images/menu-items/home.png" alt="" class="icon-home" alt="" />
            <span>Home</span>
          </a>
        </li>
  
        <!-- About button -->
        <li id="about">
          <a href="#" class="menu-button">
            <img src="/src/assets/images/menu-items/stone.png" alt="" class="icon-about" alt="" />
            <span>About <i class="fa fa-caret-down"></i></span>
          </a>
          <div class="dropdown-container">
            <div class="dropdown">
              <ul>
                <li><a href="#">History</a></li>
                <li><a href="#">F.A.Q</a></li>
                <li><a href="#">Rules</a></li>
                <li><a href="#">Staff</a></li>
                <li><a href="#">Hall of Fame</a></li>
              </ul>
            </div>
          </div>
        </li>
  
        <!-- Shard Info button-->
        <li id="myuo">
          <a href="#" class="menu-button">
            <img src="/src/assets/images/menu-items/boards.png" alt="" class="icon-shard-info" alt="" />
            <span>Shard Info <i class="fa fa-caret-down"></i></span>
          </a>
          <div class="dropdown-container">
            <div class="dropdown">
              <ul>
                <li><a href="#">Server Statistics</a></li>
                <li><a href="#">Online Players</a></li>
                <li><a href="#">Guilds</a></li>
              </ul>
            </div>
          </div>
        </li>
  
        <!-- Armory button -->
        <li>
          <a routerLink="/armory" class="menu-button">
            <img src="/src/assets/images/menu-items/forge.png" alt="" class="icon-armory" alt="" />
            <span>Armory</span>
          </a>
        </li>
  
        <!-- Forum button -->
        <li>
          <a href="#" class="menu-button">
            <img src="/src/assets/images/menu-items/scroll.png" alt="" class="icon-forums" alt="" />
            <span>Forum</span>
          </a>
        </li>
  
        <!-- Wikipedia button -->
        <li>
          <a href="#" class="menu-button">
            <img src="/src/assets/images/menu-items/wooden-chest.png" alt="" class="icon-armory" alt="" />
            <span>Wikipedia</span>
          </a>
        </li>
  
        <!-- Discord button -->
        <li>
          <a href="#" class="menu-button">
            <img src="/src/assets/images/menu-items/campfire.png" alt="" class="icon-discord" alt="" />
            <span>Discord</span>
          </a>
        </li>
  
        <!-- Unknown button -->
        <li>
          <a href="#" class="menu-button" target="_top">
            <img src="/src/assets/images/menu-items/arrows.png" alt="UOCG Facebook" class="icon-unknown" />
            <span>Unknown</span>
          </a>
        </li>
      </ul>
    </div>
  
    <!-- Right column-->
    <div class="right-column">
      <a href="#" alt="" class="download-button"></a>
    </div>
  </nav>
  