<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../assets/css/bootstrap.css">
  <!-- main css -->
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/responsive.css">
</head>

  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="logo_part">
      <div class="container">
        <a class="logo" href="#"><img src="../assets/images/logo.png" alt=""></a>
      </div>
    </div>
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" routerLink="/dashboard"><img src="../assets/images/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav">
              <li class="nav-item active"><a class="nav-link" (click)="setPage(1)">Home</a></li>
              <li class="nav-item"><a class="nav-link" (click)="setPage(2)">Server statistics</a></li>
              <li class="nav-item"><a class="nav-link" (click)="setPage(3)">Players Online</a></li>
              <li class="nav-item"><a class="nav-link" (click)="setPage(4)">Guilds</a></li>
              <li class="nav-item"><a class="nav-link" (click)="setPage(5)">Armory</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
<!--================Header Menu Area =================-->

<div style="margin-top: 250px;">
<ng-container [ngSwitch]="page">
    <p *ngSwitchCase="1">Welcome to the home page!</p>
    <app-server-statistics *ngSwitchCase="2"></app-server-statistics>
    <app-players *ngSwitchCase="3"></app-players>
    <app-guilds  *ngSwitchCase="4"></app-guilds>
    <app-armory  *ngSwitchCase="5"></app-armory>
</ng-container>
</div>