<!-- Left column -->
<div class="left-column">

    <!-- The Slider -->
    <app-slider></app-slider>

    <!-- The articles-->
    <div class="article">
      <div class="article-content-container">
        <div class="intro-content clearfloats">

          <h1>Welcome to POLServer Website Solution</h1>
          <p>
            Welcome to the Penultima OnLine (POL) emulator home page.<br/><br/>

            POL is an Ultima Online® emulator that has been in development for over 12 years and supports most of the
            features that players have enjoyed from Ultima Online: The Second Age® to Ultima Online: Mondain's Legacy®.
            POL is the most flexible and customizable UO emulator around.<br/><br/>

            Some of POL’s features are:<br/>
            An emphasis on flexibility and customization that allows you to create the world you want
            POL’s eScript scripting language is simple enough to allow those with no previous programming experience to
            learn how to customize their world and yet powerful enough to accomplish complex tasks
            A complete set of scripts (the “Distro”) that emphasize the basics of game play, but are designed to allow you
            to easily modify or expand their functionality
            If you want to create your world entirely from scratch there’s a set of “bare bones” scripts that provide the
            minimum files needed to start POL, login, walk around, and talk
            Extensive documentation is available in both online and downloadable form
            Packethooks to allow expansion of the emulator core functions
            Scripts run inside a virtual machine for greater security
            A unified emulator core
            An active and dedicated community of people ready to answer any questions you might have and provide help
            whenever you need it<br/><br/>

            If you don’t know where to start, we suggest that you download the latest core release and its associated set
            of Distro scripts.<br/><br/>

            So download POL and start creating your world today!
          </p>

        </div>
      </div>
    </div>

    <div class="article">
      <div class="article-content-container">
        <h2 class="news-events-title">News &amp; Events</h2>
        <!--news article starts-->

        <div class="news-teaser-content clearfloats">
          <div class="left-column">

            <div class="featured-image">
              <img src="/src/assets/images/content/candy.png" alt="" class="image-border" />
            </div>

          </div>
          <div class="right-column">
            <div class="news-post"><b>9th February 2019</b>
              <br/><br/><h3 class="truncate">New website up!</h3>
              <b>Testing testing testing...</b>
            </div>
            <span class="timestamp">Robin</span>
          </div>
        </div>

        <br />

        <div class="news-teaser-content clearfloats">
          <div class="left-column">

            <div class="featured-image">
              <img src="/src/assets/images/content/candy.png" alt="" class="image-border" />
            </div>

          </div>
          <div class="right-column">
            <div class="news-post"><b>5th February 2019</b>
              <br/><br/><h3 class="truncate">Test Title</h3>
              <b>Test text...</b>
            </div>
            <span class="timestamp">Robin</span>
          </div>
        </div>

      </div>
    </div>

    <div class="article">
      <div class="article-content-container">
        <div class="three-column-content clearfloats">
          <div class="left-column">
            <h2>Title 1</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              <img src="/src/assets/images/decoration/bones.png" align="right">
            </p>
          </div>
          <div class="mid-column">
            <h2>Title 2</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              <img src="/src/assets/images/decoration/bones.png" align="right">
            </p>
          </div>
          <div class="right-column">
            <h2>Title 3</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              <img src="/src/assets/images/decoration/bones.png" align="right">
            </p>
          </div>
        </div>
      </div>

      <!-- The container below content-->
      <div class="blue-container">
        POLServer Website Solution<br />
        2019
      </div>

    </div>

</div>
