<!-- The main wrapper -->
<div class="wrapper">
  <section class="top clearfloats">
    <div class="logo-container">
      <!-- 
        <img src="images/shardlogoDA.png" alt="POL Freeshard Logo">
       -->
    </div>
  </section>

  <!-- The main container -->
  <div class="main-container">
   
    <app-navigation></app-navigation>

    <!-- Content = Slider down -->
    <div class="content clearfloats">
      <router-outlet></router-outlet>

      <!-- The right column -->
				<div class="right-column">

            <!-- Server Status -->
            <div class="right-column-content">
              <ul>
                <li><br/><br/>
                  Client 7.0.15.1<br />
                  LoginServer=127.0.0.1,2493<br />
                  POL version 100
                </li>
              </ul>
            </div>
  
            <!-- PVP Rankings -->
            <h2 class="right-column-title red">PVP Ranking</h2>
            <div class="right-column-content">
              <ul class="right-column-leaderboard">
                <li class="clearfloats">
                  <div class="left-column truncate">
                    <img src="../assets/images/decoration/head.png" alt=""/>Test1
                  </div>
                  <div class="right-column">
                    500 Kills
                  </div>
                </li>
                <li class="clearfloats">
                  <div class="left-column truncate">
                    <img src="../assets/images/decoration/head.png" alt=""/>Test2
                  </div>
                  <div class="right-column">
                    400 Kills
                  </div>
                </li>
                <li class="clearfloats">
                  <div class="left-column truncate">
                    <img src="../assets/images/decoration/head.png" alt=""/>Test3
                  </div>
                  <div class="right-column">
                    300 Kills
                  </div>
                </li>
                <li class="clearfloats">
                  <div class="left-column truncate">
                    <img src="../assets/images/decoration/head.png" alt=""/>Test4
                  </div>
                  <div class="right-column">
                    200 Kills
                  </div>
                </li>
                <li class="clearfloats">
                  <div class="left-column truncate">
                    <img src="../assets/images/decoration/head.png" alt=""/>Test5
                  </div>
                  <div class="right-column">
                    100 Kills
                  </div>
                </li>
              </ul>
            </div><br />
  
            <!-- PVM Rankings -->
            <h2 class="right-column-title red">PVM Rankings</h2>
            <div class="right-column-content">
              <ul class="right-column-leaderboard">
  
                <li class="clearfloats">
                  <div class="left-column truncate">
                    <img src="../assets/images/decoration/head.png" alt=""/>Test1
                  </div>
                  <div class="right-column">
                    5000 points
                  </div>
                </li>
                <li class="clearfloats">
                  <div class="left-column truncate">
                    <img src="../assets/images/decoration/head.png" alt=""/>Test2
                  </div>
                  <div class="right-column">
                    4000 points
                  </div>
                </li>
                <li class="clearfloats">
                  <div class="left-column truncate">
                    <img src="../assets/images/decoration/head.png" alt=""/>Test3
                  </div>
                  <div class="right-column">
                    3000 points
                  </div>
                </li>
                <li class="clearfloats">
                  <div class="left-column truncate">
                    <img src="../assets/images/decoration/head.png" alt=""/>Test4
                  </div>
                  <div class="right-column">
                    2000 points
                  </div>
                </li>
                <li class="clearfloats">
                  <div class="left-column truncate">
                    <img src="../assets/images/decoration/head.png" alt=""/>Test5
                  </div>
                  <div class="right-column">
                    1000 points
                  </div>
                </li>
              </ul>
            </div><br />
  
          </div>
    </div>

  </div>

  <!-- The voting container -->
  <div class="blue-container footer">
    <a href="http://www.uogateway.com/shard.php?id=587&act=vote" target="_BLANK"><img src="../assets/images/social/uog.png"></a>
    <a href="http://topg.org/ultima-private-servers/in-447343" target="_blank"><img src="../assets/images/social/topg.gif"></a>
    <a href="http://www.gtop100.com/topsites/Ultima-Online/sitedetails/Dragons-of-Time-Athlore-Darklands-91222?vote=1"
      target="_blank"><img src="../assets/images/social/gtop100.jpg"></a>
    <a href="http://www.xtremetop100.com/in.php?site=1132257837" target="_blank"><img src="../assets/images/social/xtreme100.jpg"></a>
    <a href="http://www.arena-top100.com/"><img src="../assets/images/social/arena-top100.png" /></a>
    <a href='http://www.top100arena.com/ultima-online/' title='Vote4UOCG'><img src="../assets/images/social/top100arena.jpg" /></a>
    <a href="http://www.gamesites100.net/in.php?site=26430" title="Vote4UOCG" target="_blank"><img src="../assets/images/social/gamesites.jpg"
        border="0" alt="Vote4UOCG" /></a><!-- End gamesites100 voting code -->
    <a href="http://www.mmorpgtoplist.com/in.php?site=60631" target="_blank"><img src="../assets/images/social/mmorpg.jpg"></a>
    <a href="http://www.gamesites200.com/ultimaonline/in.php?id=1685" target="_blank"><img src="../assets/images/social/uotop200.gif"></a>
    <a href="http://topofgames.com/index.php?do=votes&id=71309" target="_blank"><img src="../assets/images/social/topofgames.gif" /></a>
    <a href="http://mmtop200.com/in/1832" rel='nofollow'><img src="../assets/images/social/mmtop.jpg"></a>
    <a href="http://serverstop100.com/vote_9187.html" target="_blank"><img border="0" src="../assets/images/social/serverstop100.gif" /></a>
    <a href="http://www.gamezone100.com/?a=details&u=dragonsoftime" target="_blank"><img src="../assets/images/social/gamezone.png"></a>
  </div>
  
</div>
