<!-- Left column -->
<div class="left-column stats-wrapper">
  <h2>Wiki page</h2>

  <div class="row" style="margin-left: 100px; margin-top: 50px; max-width: 850px !important;">
    <div class="column">
      <b>Combat</b><br /><br />
      <a routerLink="/wiki/alchemy">Archery</a>
      <a routerLink="/wiki/alchemy">Fencing</a>
      <a routerLink="/wiki/alchemy">Mace Fighting</a>
      <a routerLink="/wiki/alchemy">Parrying</a>
      <a routerLink="/wiki/alchemy">Swordsmanship</a>
      <a routerLink="/wiki/alchemy">Tactics</a>
      <a routerLink="/wiki/alchemy">Wrestling</a>
    </div>
    <div class="column">
      <b>Magical</b><br /><br />
      <a routerLink="/wiki/alchemy">Alchemy</a>
      <a routerLink="/wiki/alchemy">Evaluating Intelligence</a>
      <a routerLink="/wiki/alchemy">Inscription</a>
      <a routerLink="/wiki/alchemy">Magery</a>
      <a routerLink="/wiki/alchemy">Meditation</a>
      <a routerLink="/wiki/alchemy">Resisting Spells</a>
      <a routerLink="/wiki/alchemy">Spirit Speak</a>
    </div>
    <div class="column">
      <b>Rogue</b><br /><br />
      <a routerLink="/wiki/alchemy">Begging</a>
      <a routerLink="/wiki/alchemy">Detecting Hidden</a>
      <a routerLink="/wiki/alchemy">Hiding</a>
      <a routerLink="/wiki/alchemy">Lockpicking</a>
      <a routerLink="/wiki/alchemy">Poisoning</a>
      <a routerLink="/wiki/alchemy">Remove Trap</a>
      <a routerLink="/wiki/alchemy">Snooping</a>
      <a routerLink="/wiki/alchemy">Stealing</a>
      <a routerLink="/wiki/alchemy">Stealth</a>
    </div>
    <div class="column">
      <b>Crafting</b><br /><br />
      <a routerLink="/wiki/alchemy">Arms Lore</a>
      <a routerLink="/wiki/alchemy">Blacksmithy</a>
      <a routerLink="/wiki/alchemy">Bowcraft & Fletching</a>
      <a routerLink="/wiki/alchemy">Carpentry</a>
      <a routerLink="/wiki/alchemy">Cooking</a>
      <a routerLink="/wiki/alchemy">Item Identification</a>
      <a routerLink="/wiki/alchemy">Cartography</a>
      <a routerLink="/wiki/alchemy">Tailoring</a>
      <a routerLink="/wiki/alchemy">Tinkering</a>
    </div>
    <div class="column">
      <b>Healing</b><br /><br />
      <a routerLink="/wiki/alchemy">Healing</a>
      <a routerLink="/wiki/alchemy">Veterinary</a>
    </div>
    <div class="column">
      <b>Bardic</b><br /><br />
      <a routerLink="/wiki/alchemy">Discordance</a>
      <a routerLink="/wiki/alchemy">Musicianship</a>
      <a routerLink="/wiki/alchemy">Peacemaking</a>
      <a routerLink="/wiki/alchemy">Provocation</a>
    </div>
    <div class="column">
      <b>Creatures & Sensing</b><br /><br />
      <a routerLink="/wiki/alchemy">Anatomy</a>
      <a routerLink="/wiki/alchemy">Animal Lore</a>
      <a routerLink="/wiki/alchemy">Animal Taming</a>
      <a routerLink="/wiki/alchemy">Camping</a>
      <a routerLink="/wiki/alchemy">Forensic Evaulation</a>
      <a routerLink="/wiki/alchemy">Herding</a>
      <a routerLink="/wiki/alchemy">Taste Identification</a>
      <a routerLink="/wiki/alchemy">Tracking</a>
    </div>
    <div class="column">
      <b>Resource Gathering</b><br /><br />
      <a routerLink="/wiki/alchemy">Fishing</a>
      <a routerLink="/wiki/alchemy">Mining</a>
      <a routerLink="/wiki/alchemy">Lumberjacking</a>
    </div>
  </div>

</div>
