table {
  width: 80%;
  background: none;
}

th.mat-sort-header-sorted {
  color: black;
}

.players-wrapper {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  max-width: 912px;
}

.title {
  text-align: left;
}

.mat-header-cell {
  color: black;
}